<!DOCTYPE html>
<html>
<head>
    <title>TODO List</title>
</head>
<body>
    <h1>TODO List</h1>
    <ul>
        {% for item in todo_items %}
            <li>
                <strong>{{ item.title }}</strong> - {{ item.description }}
                {% if item.completed %}
                    (Completed)
                {% endif %}
                [<a href="{% url 'update_todo_item' item.pk %}">Update</a>]
                [<a href="{% url 'delete_todo_item' item.pk %}">Delete</a>]
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_todo_item' %}">Add New Item</a>
</body>
</html>
